SHOW ANIMES

<p><%= @anime.name %></p>
<p><%= @anime.fav_character %></p>
<p><%= @anime.rating %></p> 

<% if current_user == @anime.user%>

    <a href="/anime_entries/<%= @anime.id %>/edit"> Edit Entry </a>
    <p></p>
    <a href="/anime_entries/<%= @anime.id %>/delete"> Delete Entry </a>

<% end %>
